@model IEnumerable<VideoRental.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("Create", "Movie")" class="btn btn-default">
        <i class="fas fa-plus"></i> Create New
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })*@

            @* this code below adds an icon to the relative buttons from
               fontawesome - requires code in the shared -layout View*@
            <a href="@Url.Action("Edit", "Movie", new { id = item.MovieID })"
               class="btn btn-default">
                <i class="fas fa-pen"></i>
            </a>
            <a href="@Url.Action("Details", "Movie", new { id = item.MovieID })"
               class="btn btn-default">
                <i class="fas fa-info"></i>
            </a>
            <a href="@Url.Action("Delete", "Movie", new { id = item.MovieID })"
               class="btn btn-default">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>

@*Magical Javascript to make the magical alertify pop-up do it's thing*@

@section scripts
{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '') alertify.success(successMessage);
        });
    </script>
}
